.faq {
  // min-height: 760px;
  padding: 0 165px;

  @media (max-width: 1250px) {
    margin-bottom: 60px;
  }

  @media (max-width: 900px) {
    padding: 0 20px;
    margin-bottom: 45px;
  }

  @media (max-width: 768px) {
    padding: 0;
    padding-top: 50px;
    margin-bottom: 20px;
  }

  @media (max-width: 530px) {
    padding-top: 30px;
  }
}

.faq__wrapper {
  width: 100%;
  min-height: 760px;

  background-image: url("../img/faq-bg.jpg");
  background-position: right  center;
  background-repeat: no-repeat;

  @media (max-width: 1250px) {
    min-height: 400px;
    background-image: unset;
  }

  @media (max-width: 768px) {
    min-height: 360px;
    padding: 0 75px;
  }

  @media (max-width: 530px) {
    padding: 0 25px;
  }
}

.faq__content {
  width: 539px;
  padding-top: 200px;

  @media (max-width: 1250px) {
    padding-top: 50px;
    width: 100%;
  }

  @media (max-width: 768px) {
    padding-top: 0;
    width: 100%;
  }
}

.faq__heading {
  padding-right: 120px;
  margin-bottom: 20px;

  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;

  letter-spacing: -0.03em;
  text-transform: uppercase;

  color: #000000;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 120%;
  }

  @media (max-width: 530px) {
    padding: 0;
  }

  & span {
    display: inline-block;
    color: #FF9C01;
    padding-right: 50px;

    background-image: url("../img/faq-icon.png");
    background-position: right  center;
    background-repeat: no-repeat;
    background-size: contain;

    @media (max-width: 768px) {
      padding-right: 25px;
    }
  }
}

// стилизация аккордеона

.accordion {
  position: relative;

  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  padding: 5px 30px 5px 10px;
  margin-bottom: 5px;

  background: #FFFFFF;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 170%;
  color: #4E5C66;

  @media (max-width: 530px) {
    font-size: 13px;
  }

  outline: none;
  border: none;
  transition: 0.4s;
  cursor: pointer;

  &::before {
    @include pseudo;
    top: calc(50% - 3px);
    right: 10px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #F7620F;
  }
}

.active {
  &::before {
    @include pseudo;
    top: calc(50% - 3px);
    right: 10px;

    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    border-top: 0px solid transparent;

    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 8px solid #F7620F;
    }
}

.active, .accordion:hover {
  transform: scale(1.01);
}

.panel {
  padding: 0 10px;
  margin-bottom: 5px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 175%;

  @media (max-width: 530px) {
    margin-top: 10px;
    font-size: 13px;
  }

  color: #4E5C66;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}
