.hero {
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 950px;
  padding-top: 50px;

  @media (max-width: 768px) {
    width: 100%;
    background-image: url("../img/hero/hero-tab-bg.png");
    background-position:top  center;
    background-repeat: no-repeat;
  }

  @media (max-width: 550px) {
    width: 100%;
    min-height: 325px;
    background-image: unset;
    background-color: #FFAB00;
  }
}

.hero__bg {
  position: absolute;
  z-index: 2;
  top: -3530px;
  left: calc(50% - 3000px);

  height: 4000px;
  width: 6000px;
  border-radius: 48%;
  background-color: #FFAB00;

  @media (max-width: 768px) {
    display: none;
  }
}

.hero__balls {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 3;
  background-image: url("../img/hero/hero-balls.png");
  background-position:  center;
  background-repeat: no-repeat;

  @media (max-width: 768px) {
    display: none;
  }
}

.hero__img {
  position: relative;
  z-index: 4;
  left: calc(50% - 144px);
  top: 100px;

  @media (max-width: 768px) {
    display: none;
  }

  @media (max-width: 550px) {
    display: block;
    top: 60px;
    left: calc(50% - 127px);
    width: 254px;
    height: 302px;
  }
}

.hero__ball {
  position: absolute;

  &--top {
    z-index: -1;
    width: 137px;
    height: 137px;
    top: -60px;
    left: 230px;
    background-image: url("../img/hero/hero-ball-1.png");
    background-position:  center;
    background-repeat: no-repeat;
  }

  &--down {
    z-index: 5;
    width: 178px;
    height: 178px;
    top: 400px;
    left: 270px;
    background-image: url("../img/hero/hero-ball-2.png");
    background-position:  center;
    background-repeat: no-repeat;
    filter: blur(5px);
  }

  background-position:  center;
  background-repeat: no-repeat;

  @media (max-width: 796px) {
    display: none;
  }
}

.hero__phone {
  border-radius: 50px;
  box-shadow: 0px 0px 140px #FFFFFF;

  @media (max-width: 768px) {
    position: relative;
    z-index: -1;
    margin-top: -70px;
    box-shadow: none;
  }
}

.hero__down {
  position: relative;
  z-index: 100;
  display: block;
  height: 95px;
  width: 95px;
  border-radius: 50%;

  margin: 0 auto;
  margin-top: 110px;

  background-image: url("../img/hero/hero-ball-down.png");
  background-position:  center;
  background-repeat: no-repeat;
  background-size: cover;

  cursor: pointer;
  transition: all .3s;

  &:hover {
    transform: scale(1.05);
  }

  @media (max-width: 796px) {
    display: none;
  }
}
