.online {
  position: relative;
  min-height: 700px;
  margin-bottom: 0;
  padding-top: 178px;
  padding-left: 155px;
  padding-right: 155px;
  background-image: url("../img/online/online-bg.png");
  background-position:  top;
  background-repeat: no-repeat;

  @media (max-width: 1100px) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: 768px) {
    min-height: 446px;
    padding-top: 40px;
    padding-left: 70px;
    background-image: url("../img/online/online-bg-tab.png");
    background-position:  top;
    background-repeat: no-repeat;
  }

  @media (max-width: 680px) {
    padding-left: 0;
    background-image: unset;
    background: radial-gradient(95.07% 139.28% at 50% -43.54%, #513E63 0%, #282837 29.64%, #4D4793 85.3%, #9260A9 100%);
  }
}

.online__img {
  display: none;

  @media (max-width: 680px) {
    display: block;
    position: absolute;
    z-index: 19;
    top: -150px;
    left: calc(50% - 75px);
  }
}

.online__content {
  width: 47%;
  margin-top: 100px;

  @media (max-width: 768px) {
    width: 60%;
  }

  @media (max-width: 680px) {
    width: 70%;
    padding: 0 15px;
    margin: 0 auto;
    margin-top: 170px;
  }

  @media (max-width: 550px) {
    width: 100%;
    margin-top: 150px;
  }
}

.online__caption {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #ffffffff;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    font-size: 16px;
  }

  @media (max-width: 680px) {
    display: none;
  }

  &--mobile {
    display: none;
    @media (max-width: 680px) {
      display: block;
      font-size: 13px;
      line-height: 120%;
      margin-bottom: 10px;
    }
  }
}

.online__colored {
  color: #FF9C01;
}

.online__icon {
  display: inline-block;
  padding-right: 40px;
  background-image: url("../img/online/online-icon.png");
  background-position:  center right;
  background-repeat: no-repeat;
  background-size: 30px;

  @media (max-width: 768px) {
    padding-right: 0;
    background-image: unset;
  }
}

.online__icon-tab {
  @media (max-width: 768px) {
    padding-right: 25px;
    background-image: url("../img/online/online-icon.png");
    background-position:  bottom right;
    background-repeat: no-repeat;
    background-size: 20px;
  }
  @media (max-width: 680px) {
    padding-right: 20px;
    background-size: 13px;
  }
}

.online__text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 20px;

  @media (max-width: 680px) {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 15px;
  }
}

.online__data {
  display: flex;
  gap: 50px;
  font-family: 'Roboto';
  font-style: normal;
  color: #FFFFFF;

  @media (max-width: 680px) {
    justify-content: center;
    gap: 22px;
  }
}

.online__data-wrapper {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.online__data-value {
  font-weight: 600;
  font-size: 37px;
  line-height: 43px;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  @media (max-width: 680px) {
    font-size: 13px;
    line-height: 15px;
  }
}

.online__data-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  @media (max-width: 768px) {
    font-size: 14px;
    line-height: 16px;
  }

  @media (max-width: 680px) {
    font-size: 13px;
    line-height: 15px;
  }
}
